html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #1A1A1A;
    color: #ead3a9;
}

body a {
    color: red;
}

body a:hover {
    color: #9B320A;
    text-decoration: none;
}


ol a {
    color: #fff;
    font-size: clamp(24px, 4vw, 16px);
}
ol ::marker {
    font-size: clamp(24px, 4vw, 16px);
}

hr.dashed {
    border-top: 3px dashed #bbb;
}

.logo {
    border-radius: 2px;
    height: 36px;
    margin-top: -1px;
    object-fit: cover;
    width: 36px;
    overflow-clip-margin: content-box;
    overflow: clip;
}
.navbar, .dropdown-menu {
    color: #ead3a9;
    background-color: #1A1A1A;
}
.nav-link, .nav-link:hover{
    color: #ead3a9 !important; 
}
#myVideo {
    border: 0;
    bottom: 0;
    box-shadow: none;
    height: 950px;
    left: 0;
    margin: 0;
    object-fit: cover;
    outline: 0;
    padding: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    z-index: -1;
    filter: brightness(50%);
    
}
.block {
    display: block;
    unicode-bidi: isolate;
}
.centered {
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
