@{
    ViewData["Title"] = "Argenti";
    Layout = "~/Views/Shared/_HSRLayout.cshtml";
}
<h1>Argenti</h1>


<div class="row">
    <div class="col-sm-6">
        <h2>Overview</h2>
        <h3 style="white-space: pre-line">
            Argenti is a 5 star physical Erudition unit from the Knights of Beauty.
            Specializes dealing aoe physical damage.
            Mainly deals damage through ultimate.
        </h3>
    </div>
    <div class="col-sm-6">
        <div class="text-center">
            <iframe width="600" height="338"
                    src="https://www.youtube.com/embed/BhGUI7ADyVo">
            </iframe>
        </div>
    </div>
</div>

<hr class="dashed">

<div class="row">
    <div class="col-sm-6">
        <h2>Relics</h2>
        <div class="row">
            <div class="col-sm-6">
                <img loading="lazy" src="~/img/Champion.webp" alt="Champion" width="100px" height="100px" />
                <img loading="lazy" src="~/img/Musketeer.webp" alt="Musketeer" width="100px" height="100px" />
            </div>
            <div class="col-sm-6">
                <h3 style="white-space: pre-line">
                    4pc Champion of Streetwide Boxing is the best in general.
                    4pc Musketeer of Wild Wheat or a mix of the 2pc is also viable.
                </h3>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <h2>Planetary</h2>
        <div class="row">
            <div class="col-sm-6">
                <img loading="lazy" src="~/img/Salsotto.webp" alt="Salsotto" width="100px" height="100px" />
                <img loading="lazy" src="~/img/Glamoth.webp" alt="Glamoth" width="100px" height="100px" />
            </div>
            <div class="col-sm-6">
                <h3 style="white-space: pre-line">
                    Inert Salsotto's crit rate and ultimate damage increase is the best in general.
                    While Firmament Frontline: Glamoth is also an option on if able to hit the speed requirement.
                </h3>
            </div>
        </div>
    </div>
</div>

<hr class="dashed">

<h2>Primary Stats</h2>
<table class="table-bordered" style="width: 100%; text-align: center">
    <tr>
        <td><h5>Body: Crit rate/Crit damage</h5></td>
        <td><h5>Boots: Attack/Speed</h5></td>
        <td><h5>Sphere: Physical damage/Attack</h5></td>
        <td><h5>Rope: Attack</h5></td>
    </tr>
</table>
<h2>Substat Priority</h2>
<h5>(Speed if running Glamoth) then Crit rate/Crit damage then Attack</h5>

<hr class="dashed">
<h2>Lightcones</h2>
<table class="table-bordered" style="width: 100%">
    <tr>
        <td>
            <h5>An Instant Without A Gaze</h5>
            <img loading="lazy" src="~/img/An_Instant_Before_A_Gaze.webp" alt="An_Instant" width="100px" height="100px" />
        </td>
        <td>
            <h5 style="white-space: pre-line">
                Argenti's signature light cone that massively buffs ultimate damage.
            </h5>
        </td>
    </tr>
    <tr>
        <td>
            <h5>Today is Another Peaceful Day</h5>
            <img loading="lazy" src="~/img/Peaceful_Day.webp" alt="Peaceful_Day" width="100px" height="100px" />
        </td>
        <td>
            <h5 style="white-space: pre-line">Best 4 star option that may out perform 5 star options.</h5>
        </td>
    </tr>
    <tr>
        <td>
            <h5>Before Dawn</h5>
            <img loading="lazy" src="~/img/Before_Dawn.webp" alt="Before_Dawn" width="100px" height="100px" />
        </td>
        <td>
            <h5 style="white-space: pre-line">5 star option that is a lesser version of the signature lightcone.
                Given that Argenti cannot use the follow up attack damage bonus.
            </h5>
        </td>
    </tr>
    <tr>
        <td>
            <h5>Night on the Milky Way</h5>
            <img loading="lazy" src="~/img/Milky_Way.webp" alt="Milky_Way" width="100px" height="100px" />
        </td>
        <td>
            <h5 style="white-space: pre-line">
                5 star option but is much more restrictive.
                Underperforms Today is Another Peaceful Day if conditions not met.
                Good option for Pureficiton.
            </h5>
        </td>
    </tr>
    <tr>
        <td>
            <h5>Eternal Calculus</h5>
            <img loading="lazy" src="~/img/Eternal_Calculus.webp" alt="Eternal_Calculus" width="100px" height="100px" />
        </td>
        <td>
            <h5 style="white-space: pre-line">
                Free 5 star option from herta store.
                Also somewhat restricitve in its usage.
                But still a good stat stick.
            </h5>
        </td>
    </tr>
</table>
