@{
    ViewData["Title"] = "Boothill";
    Layout = "~/Views/Shared/_HSRLayout.cshtml";
}
<h1>Boothill</h1>

<div class="row">
    <div class="col-sm-6">
        <h2>Overview</h2>
        <h3 style="white-space: pre-line">
            Boothill is a 5 star physical Hunt unit from The Xianzhou Luofu.
            Specializes dealing single target physical break damage.
        </h3>
    </div>
    <div class="col-sm-6">
        <div class="text-center">
            <iframe width="600" height="338"
                    src="https://www.youtube.com/embed/cIfnjHUV2bU">
            </iframe>
        </div>
    </div>
</div>

<hr class="dashed">

<div class="row">
    <div class="col-sm-6">
        <h2>Relics</h2>
        <div class="row">
            <div class="col-sm-6">
                <img loading="lazy" src="~/img/Iron_Cavalry.webp" alt="Iron_Cavalry" width="100px" height="100px" />
            </div>
            <div class="col-sm-6">
                <h3 style="white-space: pre-line">
                    Newest relic set tailor made for Break DPS (V2.3).
                </h3>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <h2>Planetary</h2>
        <div class="row">
            <div class="col-sm-6">
                <img loading="lazy" src="~/img/Banditry.webp" alt="Banditry" width="100px" height="100px" />
            </div>
            <div class="col-sm-6">
                <h3 style="white-space: pre-line">
                    Only option for break effect for non-fire units as of V2.3
                </h3>
            </div>
        </div>
    </div>
</div>

<hr class="dashed">

<h2>Primary Stats</h2>
<h5>Due to Boothill's kit primary stats are not as important compared to substats, look for Speed and Break effect</h5>
<table class="table-bordered" style="width: 100%; text-align: center">
    <tr>
        <td><h5>Body: Attack</h5></td>
        <td><h5>Boots: Speed</h5></td>
        <td><h5>Sphere: Physical damage/Attack</h5></td>
        <td><h5>Rope: Break effect</h5></td>
    </tr>
</table>
<h2>Substat Priority</h2>
<h5>Speed then Break effect</h5>

<hr class="dashed">
<h2>Lightcones</h2>
<table class="table-bordered" style="width: 100%">
    <tr>
        <td>
            <h5>Sailing Towards a Second Life</h5>
            <img loading="lazy" src="~/img/Second_Life.webp" alt="Second_Life" width="100px" height="100px" />
        </td>
        <td>
            <h5 style="white-space: pre-line">
                Signature lightcone that massively outperform all other lightcones as of V2.3
            </h5>
        </td>
    </tr>
    <tr>
        <td>
            <h5>Adversarial</h5>
            <img loading="lazy" src="~/img/Adversarial.webp" alt="Adversarial" width="100px" height="100px" />
        </td>
        <td>
            <h5 style="white-space: pre-line">
                Due to Boothill's kit not requiring any damage buff other than break effect,
                this 3 star lightcone provides speed boost on kill which Boothill perfers much more.
            </h5>
        </td>
    </tr>
    <tr>
        <td>
            <h5>River Flows in Spring</h5>
            <img loading="lazy" src="~/img/River_Flows.webp" alt="River_Flows" width="100px" height="100px" />
        </td>
        <td>
            <h5 style="white-space: pre-line">
                4 star option providing both speed boost and damage amplification.
                However it is quite restrictive as once Boothill takes damage the lightcone becomes useless.
            </h5>
        </td>
    </tr>
    <tr>
        <td>
            <h5>Cruising in the Stellar Sea</h5>
            <img loading="lazy" src="~/img/Cruising.webp" alt="Cruising" width="100px" height="100px" />
        </td>
        <td>
            <h5 style="white-space: pre-line">
                Free 5 star option from Herta shop.
            </h5>
        </td>
    </tr>
</table>
