@{
    ViewData["Title"] = "Fire";
    Layout = "~/Views/Shared/_HSRLayout.cshtml";
}

<div class="text-center">
    <h1 class="display-4">Fire</h1>
</div>
<div class="row">

    <div class="col-sm-3">
        <div class="text-center">
            <a asp-area="" asp-controller="HSR" asp-action="Firefly"><img src="~/img/Firefly.webp" style="width:250px;height:250px;" /></a>
            <a style="color:#ead3a9; text-decoration:none" asp-area="" asp-controller="HSR" asp-action="Firefly"><h3><strong>FIREFLY</strong></h3></a>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="text-center">
            <a asp-area="" asp-controller="HSR" asp-action="Gallagher"><img src="~/img/Gallagher.webp" style="width:250px;height:250px;" /></a>
            <a style="color:#ead3a9; text-decoration:none" asp-area="" asp-controller="HSR" asp-action="Gallagher"><h3><strong>GALLAGHER</strong></h3></a>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="text-center">
            <a asp-area="" asp-controller="HSR" asp-action="Topaz"><img src="~/img/Topaz.webp" style="width:250px;height:250px;" /></a>
            <a style="color:#ead3a9; text-decoration:none" asp-area="" asp-controller="HSR" asp-action="Topaz"><h3><strong>TOPAZ & NUMBY</strong></h3></a>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="text-center">
            <a asp-area="" asp-controller="HSR" asp-action="Guinaifen"><img src="~/img/Guinaifen.webp" style="width:250px;height:250px;" /></a>
            <a style="color:#ead3a9; text-decoration:none" asp-area="" asp-controller="HSR" asp-action="Guinaifen"><h3><strong>GUINAIFEN</strong></h3></a>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="text-center">
            <a asp-area="" asp-controller="HSR" asp-action="Hook"><img src="~/img/Hook.webp" style="width:250px;height:250px;" /></a>
            <a style="color:#ead3a9; text-decoration:none" asp-area="" asp-controller="HSR" asp-action="Hook"><h3><strong>HOOK</strong></h3></a>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="text-center">
            <a asp-area="" asp-controller="HSR" asp-action="Asta"><img src="~/img/Asta.webp" style="width:250px;height:250px;" /></a>
            <a style="color:#ead3a9; text-decoration:none" asp-area="" asp-controller="HSR" asp-action="Asta"><h3><strong>ASTA</strong></h3></a>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="text-center">
            <a asp-area="" asp-controller="HSR" asp-action="Himeko"><img src="~/img/Himeko.webp" style="width:250px;height:250px;" /></a>
            <a style="color:#ead3a9; text-decoration:none" asp-area="" asp-controller="HSR" asp-action="Himeko"><h3><strong>HIMEKO</strong></h3></a>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="text-center">
            <a asp-area="" asp-controller="HSR" asp-action="FireMC"><img src="~/img/FireMC.webp" style="width:250px;height:250px;" /></a>
            <a style="color:#ead3a9; text-decoration:none" asp-area="" asp-controller="HSR" asp-action="FireMC"><h3><strong>MC (FIRE)</strong></h3></a>
        </div>
    </div>

</div>