@{
    ViewData["Title"] = "Firefly";
    Layout = "~/Views/Shared/_HSRLayout.cshtml";
}
<h1>Firefly</h1>

<div class="row">
    <div class="col-sm-6">
        <h2>Overview</h2>
        <h3 style="white-space: pre-line">
            Firefly is a 5 star fire Destruction unit part of the Stellaron Hunters.
            Specializes dealing burst target fire break damage.
        </h3>
    </div>
    <div class="col-sm-6">
        <div class="text-center">
            <iframe width="600" height="338"
                    src="https://www.youtube.com/embed/lFpSMBK7J1I">
            </iframe>
        </div>
    </div>
</div>

<hr class="dashed">

<div class="row">
    <div class="col-sm-6">
        <h2>Relics</h2>
        <div class="row">
            <div class="col-sm-6">
                <img loading="lazy" src="~/img/Iron_Cavalry.webp" alt="Iron_Cavalry" width="100px" height="100px" />
            </div>
            <div class="col-sm-6">
                <h3 style="white-space: pre-line">
                    Newest relic set tailor made for Break DPS (V2.3).
                </h3>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <h2>Planetary</h2>
        <div class="row">
            <div class="col-sm-6">
                <img loading="lazy" src="~/img/Kalpagni_Lantern.webp" alt="Kalpagni_Lantern" width="100px" height="100px" />
            </div>
            <div class="col-sm-6">
                <h3 style="white-space: pre-line">
                    Newest tailor made break effect set for fire units as of V2.3.
                </h3>
            </div>
        </div>
    </div>
</div>

<hr class="dashed">

<h2>Primary Stats</h2>
<table class="table-bordered" style="width: 100%; text-align: center">
    <tr>
        <td><h5>Body: Attack</h5></td>
        <td><h5>Boots: Speed</h5></td>
        <td><h5>Sphere: Attack</h5></td>
        <td><h5>Rope: Break effect</h5></td>
    </tr>
</table>
<h2>Substat Priority</h2>
<h5>Speed(210 in ultimate state) then Break effect(360% with buff) then Attack</h5>

<hr class="dashed">
<h2>Lightcones</h2>
<table class="table-bordered" style="width: 100%">
    <tr>
        <td>
            <h5>Whereabouts Should Dreams Rest</h5>
            <img loading="lazy" src="~/img/Whereabouts.webp" alt="Whereabouts" width="100px" height="100px" />
        </td>
        <td>
            <h5 style="white-space: pre-line">
                Firefly's signature lightcone providing massive break effect and debuffs enemies.
            </h5>
        </td>
    </tr>
    <tr>
        <td>
            <h5>On the Fall of an Aeon</h5>
            <img loading="lazy" src="~/img/Fall_of_an_Aeon.webp" alt="Fall_of_an_Aeon" width="100px" height="100px" />
        </td>
        <td>
            <h5 style="white-space: pre-line">
                Free 5 star option from Herta shop.
                Second best option aside from signature lightcone.
            </h5>
        </td>
    </tr>
</table>
