@{
    ViewData["Title"] = "Fire";
    Layout = "~/Views/Shared/_HSRLayout.cshtml";
}

<div class="text-center">
    <h1 class="display-4">Fire</h1>
</div>
<div class="row">

    <div class="col-sm-3">
        <div class="text-center">
            <a asp-area="" asp-controller="HSR" asp-action="Firefly"><img src="~/img/Firefly.webp" style="width:250px;height:250px;" /></a>
            <a style="color:#ead3a9; text-decoration:none" asp-area="" asp-controller="HSR" asp-action="Firefly"><h3><strong>FIREFLY</strong></h3></a>
        </div>
    </div>

</div>