@{
    ViewData["Title"] = "Gallagher";
    Layout = "~/Views/Shared/_HSRLayout.cshtml";
}
<h1>Gallagher</h1>

<div class="row">
    <div class="col-sm-6">
        <h2>Overview</h2>
        <h3 style="white-space: pre-line">
            Gallagher is a 4 star fire Abundance unit from Penacony.
            Specializes in teamwide healing and break damage(dealing and buffing).
        </h3>
    </div>
    <div class="col-sm-6">
        <div class="text-center">
            
        </div>
    </div>
</div>

<hr class="dashed">

<div class="row">
    <div class="col-sm-6">
        <h2>Relics</h2>
        <div class="row">
            <div class="col-sm-6">
                <img loading="lazy" src="~/img/Hackerspace.webp" alt="Hackerspace" width="100px" height="100px" />
                <img loading="lazy" src="~/img/Passerby.webp" alt="Passerby" width="100px" height="100px" />
                <img loading="lazy" src="~/img/Thief.webp" alt="Theif" width="100px" height="100px" />
                <img loading="lazy" src="~/img/Watchmaker.webp" alt="Watchmaker" width="100px" height="100px" />
            </div>
            <div class="col-sm-6">
                <h3 style="white-space: pre-line">
                    Due to Majority of Gallagher's kit ties to his ultimate and it is a debuff on enemies, it is best to have Gallagher act multiple times.
                    2pc Messenger Traversing Hackerspace provides the speed Gallagher needs.
                    The other 2pc depends on if more healing output or break effect is needed.
                </h3>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <h2>Planetary</h2>
        <div class="row">
            <div class="col-sm-6">
                <img loading="lazy" src="~/img/Kalpagni_Lantern.webp" alt="Kalpagni_Lantern" width="100px" height="100px" />
                <img loading="lazy" src="~/img/Banditry.webp" alt="Banditry" width="100px" height="100px" />
            </div>
            <div class="col-sm-6">
                <h3 style="white-space: pre-line">
                    Forge of the Kalpagni Lantern provides the best stats for Gallagher, however it somewhat restricts him to only be against fire weak enemies.
                    This can be resolved by fire weakness implant teammates.
                    Talia: Kingdom of Banditry can be substituted for the break effect.
                </h3>
            </div>
        </div>
    </div>
</div>

<hr class="dashed">

<h2>Primary Stats</h2>
<table class="table-bordered" style="width: 100%; text-align: center">
    <tr>
        <td><h5>Body: Outgoing healing</h5></td>
        <td><h5>Boots: Speed</h5></td>
        <td><h5>Sphere: HP/DEF</h5></td>
        <td><h5>Rope: Energy</h5></td>
    </tr>
</table>
<h2>Substat Priority</h2>
<h5>Speed then Break effect(150% for max talent usage) then Effect resistant then HP/DEF</h5>

<hr class="dashed">
<h2>Lightcones</h2>
<table class="table-bordered" style="width: 100%">
    <tr>
        <td>
            <h5>Night of Fright</h5>
            <img loading="lazy" src="~/img/Night_of_Fright.webp" alt="Night_of_Fright" width="100px" height="100px" />
        </td>
        <td>
            <h5 style="white-space: pre-line">
                A very comfortable 5 star option providing energy regen, team-wide attack buff, as well as extra healing.
            </h5>
        </td>
    </tr>
    <tr>
        <td>
            <h5>Perfect Timing</h5>
            <img loading="lazy" src="~/img/Perfect_Timing.webp" alt="Perfect_Timing" width="100px" height="100px" />
        </td>
        <td>
            <h5 style="white-space: pre-line">
                Due to the nature of Gallagher's kit, being crowd controlled is the last thing Gallagher wants.
                Not only does this 4 star option provide effect resistant, it also increases Gallagher's healing based on effect resistant.
            </h5>
        </td>
    </tr>
    <tr>
        <td>
            <h5>What is Real</h5>
            <img loading="lazy" src="~/img/What_Is_Real.webp" alt="What_Is_Real" width="100px" height="100px" />
        </td>
        <td>
            <h5 style="white-space: pre-line">
                This 4 star option can be used if the goal is to do more damage with Gallagher (going pass 150% break effect).
                Or if simply more break effect is needed.
            </h5>
        </td>
    </tr>
</table>
