@{
    ViewData["Title"] = "Guides";
    Layout = "~/Views/Shared/_HSRLayout.cshtml";
}

<h1>Guides</h1>
<div class="row">
    <div class="col-sm-3">
        <a asp-area="" asp-controller="HSR" asp-action="Speedguide"><img src="~/img/speed-guide.png" style="width:100%; height:auto;" /></a>
        <a style="color:#ead3a9; text-decoration:none" asp-area="" asp-controller="HSR" asp-action="Speedguide"><h3><strong>THE ONLY SPEED GUIDE YOU NEED</strong></h3></a>
    </div>
</div>