@{
    ViewData["Title"] = "Hanya";
    Layout = "~/Views/Shared/_HSRLayout.cshtml";
}
<h1>HANYA</h1>


<div class="row">
    <div class="col-sm-6">
        <h2>Overview</h2>
        <h3 style="white-space: pre-line">
            Hanya is a 4 star physical Harmony unit from The Xianzhou Luofu.
            Specializes in generating skill points and buffing attack and speed.
        </h3>
    </div>
    <div class="col-sm-6">
        <div class="text-center">
            <iframe width="600" height="338"
                    src="https://www.youtube.com/embed/nZZJii3yuOI">
            </iframe>
        </div>
    </div>
</div>

<hr class="dashed">

<div class="row">
    <div class="col-sm-6">
        <h2>Relics</h2>
        <div class="row">
            <div class="col-sm-6"> 
                <img loading="lazy" src="~/img/Hackerspace.webp" alt="Hackerspace" width="200px" height="200px" />
            </div>
            <div class="col-sm-6">
                <h3 style="white-space: pre-line">When building Hanya speed is the most important stat.
                    4pc Messenger Traversing Hackerspace is the best relics set in general.
                    2pc mix with defensive relics can be considered if more survivalbility is needed.
                </h3>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <h2>Planetary</h2>
        <div class="row">
            <div class="col-sm-6">
                <img loading="lazy" src="~/img/Vonwacq.webp" alt="Vonwacq" width="100px" height="100px" />
                <img loading="lazy" src="~/img/Penacony.webp" alt="Penacony" width="100px" height="100px" />
                <img loading="lazy" src="~/img/Fleet.webp" alt="Fleet" width="100px" height="100px"/>
                <img loading="lazy" src="~/img/Keel.webp" alt="Keel" width="100px" height="100px" />
            </div>
            <div class="col-sm-6">
                <h3 style="white-space: pre-line">Choose Sprightly Vonwacq or Penacony, Land of the Dreams if more energy regeneration is needed.
                    Else Fleet of the Ageless or Broken Keel are better options for teamwide buff.
                </h3>
            </div>
        </div>
    </div>
</div>

<hr class="dashed">

<h2>Primary Stats</h2>
<table class="table-bordered" style="width: 100%; text-align: center">
    <tr>
        <td><h5>Body: HP/DEF</h5></td>
        <td><h5>Boots: Speed</h5></td>
        <td><h5>Sphere: HP/DEF</h5></td>
        <td><h5>Rope: Energy</h5></td>
    </tr>
</table>
<h2>Substat Priority</h2>
<h5>Speed & (30% Effect Resistance if using Broken Keel)</h5>

<hr class="dashed">
<h2>Lightcones</h2>
<table class="table-bordered" style="width: 100%">
    <tr>
        <td>
            <h5>But The Battle Isn't Over</h5>
            <img loading="lazy" src="~/img/But_the_Battle.webp" alt="But_the_Battle" width="100px" height="100px"/>
        </td>
        <td>
            <h5 style="white-space: pre-line">Able to reliably cast ultimate every 3 turns if running Sprightly Vonwacq or Penacony, Land of the Dreams.
                Also a 5 star providing more stats
            </h5>
        </td>
    </tr>
    <tr>
        <td>
            <h5>Planetary Rendezvous</h5>
            <img loading="lazy" src="~/img/Planetary_Rendezvous.webp" alt="Planetary" width="100px" height="100px" />
        </td>
        <td>
            <h5 style="white-space: pre-line">Great option if running physical DPS, although at the cost of 3 turn ultimate</h5>
        </td>
    </tr>
    <tr>
        <td>
            <h5>Memories of the Past</h5>
            <img loading="lazy" src="~/img/Memories_of_the_Past.webp" alt="Memories" width="100px" height="100px" />
        </td>
        <td>
            <h5 style="white-space: pre-line">Good general option compared to other 4 star lightcones</h5>
        </td>
    </tr>
</table>
