@{
    ViewData["Title"] = "Ice";
    Layout = "~/Views/Shared/_HSRLayout.cshtml";
}

<div class="text-center">
    <h1 class="display-4">Ice</h1>
</div>
<div class="row">

    <div class="col-sm-3">
        <div class="text-center">
            <a asp-area="" asp-controller="HSR" asp-action="Misha"><img src="~/img/Misha.webp" style="width:250px;height:250px;" /></a>
            <a style="color:#ead3a9; text-decoration:none" asp-area="" asp-controller="HSR" asp-action="Misha"><h3><strong>MISHA</strong></h3></a>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="text-center">
            <a asp-area="" asp-controller="HSR" asp-action="Ruanmei"><img src="~/img/Ruanmei.webp" style="width:250px;height:250px;" /></a>
            <a style="color:#ead3a9; text-decoration:none" asp-area="" asp-controller="HSR" asp-action="Ruanmei"><h3><strong>RUANMEI</strong></h3></a>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="text-center">
            <a asp-area="" asp-controller="HSR" asp-action="Jingliu"><img src="~/img/Jingliu.webp" style="width:250px;height:250px;" /></a>
            <a style="color:#ead3a9; text-decoration:none" asp-area="" asp-controller="HSR" asp-action="Jingliu"><h3><strong>JINGLIU</strong></h3></a>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="text-center">
            <a asp-area="" asp-controller="HSR" asp-action="Yangqing"><img src="~/img/Yangqing.webp" style="width:250px;height:250px;" /></a>
            <a style="color:#ead3a9; text-decoration:none" asp-area="" asp-controller="HSR" asp-action="Yangqing"><h3><strong>YANGQING</strong></h3></a>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="text-center">
            <a asp-area="" asp-controller="HSR" asp-action="Gepard"><img src="~/img/Gepard.webp" style="width:250px;height:250px;" /></a>
            <a style="color:#ead3a9; text-decoration:none" asp-area="" asp-controller="HSR" asp-action="Gepard"><h3><strong>GEPARD</strong></h3></a>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="text-center">
            <a asp-area="" asp-controller="HSR" asp-action="Pela"><img src="~/img/Pela.webp" style="width:250px;height:250px;" /></a>
            <a style="color:#ead3a9; text-decoration:none" asp-area="" asp-controller="HSR" asp-action="Pela"><h3><strong>PELA</strong></h3></a>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="text-center">
            <a asp-area="" asp-controller="HSR" asp-action="Herta"><img src="~/img/Herta.webp" style="width:250px;height:250px;" /></a>
            <a style="color:#ead3a9; text-decoration:none" asp-area="" asp-controller="HSR" asp-action="Herta"><h3><strong>HERTA</strong></h3></a>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="text-center">
            <a asp-area="" asp-controller="HSR" asp-action="MarchIce"><img src="~/img/MarchIce.webp" style="width:250px;height:250px;" /></a>
            <a style="color:#ead3a9; text-decoration:none" asp-area="" asp-controller="HSR" asp-action="MarchIce"><h3><strong>MARCH 7TH (ICE)</strong></h3></a>
        </div>
    </div>

</div>