@{
    ViewData["Title"] = "Honkai Star Rail";
    Layout = "~/Views/Shared/_HSRLayout.cshtml";
}

<div class="block">
    <div>
        <video autoplay muted loop id="myVideo">
            <source src="/animation/silver-wolf-animated.mp4" type="video/mp4">
        </video>
        <div style="height:600px" aria-hidden="true"></div>
        <div class="row">
            <div class="col-sm-9">
                <h2 style="font-size: clamp(1.79rem, 1.79rem + ((1vw - 0.2rem) * 1.941), 3.1rem); font-style: normal; font-weight: 600; letter-spacing: 0.04em; line-height: 1.2;">EMPOWERING TRAILBLAZERS, ONE GUIDE AT A TIME.</h2>
            </div>
        </div>
        <div style="height:150px" aria-hidden="true"></div>
    </div>
</div>
<div class="block">
    <h1>RECENT POSTS</h1>
    <div class="row">
        <div class="col-sm-4">
            <a asp-area="" asp-controller="HSR" asp-action="Argenti"><img src="~/img/Argenti.webp" style="width:350px; height:300px;" /></a>
        </div>
        <div class="col-sm-8">
            <a style="color:#ead3a9; text-decoration:none" asp-area="" asp-controller="HSR" asp-action="Argenti"><h3><strong>ARGENTI</strong></h3></a>
        </div>
    </div>
    <hr class="dashed">
    <div class="row">
        <div class="row">
            <div class="col-sm-4">
                <a asp-area="" asp-controller="HSR" asp-action="Hanya"><img src="~/img/Hanya.webp" style="width:350px; height:300px;" /></a>
            </div>
            <div class="col-sm-8">
                <a style="color:#ead3a9; text-decoration:none" asp-area="" asp-controller="HSR" asp-action="Hanya"><h3><strong>HANYA</strong></h3></a>
            </div>
        </div>
    </div>
    <hr class="dashed">
    <div class="row">
        <div class="row">
            <div class="col-sm-4">
                <a asp-area="" asp-controller="HSR" asp-action="Luka"><img src="~/img/Luka.webp" style="width:350px; height:300px;" /></a>
            </div>
            <div class="col-sm-8">
                <a style="color:#ead3a9; text-decoration:none" asp-area="" asp-controller="HSR" asp-action="Luka"><h3><strong>LUKA</strong></h3></a>
            </div>
        </div>
    </div>
</div>
<div style="height:100px" aria-hidden="true"></div>
<div class="block" style="position: relative;">
    <img loading="lazy" src="~/img/pxfuel.jpg" style="width: 100%; height: 600px; object-fit: cover; overflow-clip-margin: content-box; overflow: clip; z-index:-1; filter: brightness(70%);" />
    <div class="centered">
        <h2 style="z-index: 1; font-size: clamp(1.79rem, 1.79rem + ((1vw - 0.2rem) * 1.941), 3.1rem); font-style: normal; font-weight: 600; letter-spacing: 0.04em; line-height: 1.2; color: #ead3a9">WHAT WE OFFER.</h2>
    </div>
</div>
<div style="height:100px" aria-hidden="true"></div>
<div class="block">
    <div class="row">
        <div class="col-sm-4">
            <h5 style="white-space: pre-line">
                <strong>General Resources</strong>

            </h5>
            <h5>Perfect for beginners and people looking for quick and easy guides, ranging from Build Summaries, Speed Sheet, Relic Probabilities and more.</h5>
        </div>
        <div class="col-sm-4">
            <h5 style="white-space: pre-line">
                <strong>CN Unit Analysis</strong>

            </h5>
            <h5>Hoping to eventually cover every single unit in Honkai: Star Rail, we want to provide players with detailed unit guides from the CN playerbase, translated by MrPokke.</h5>
        </div>
        <div class="col-sm-4">
            <h5 style="white-space: pre-line">
                <strong>Content Slides</strong>

            </h5>
            <h5>All slides used by MrPokke can be found in our website, categorized into easy to navigate sections.</h5>
        </div>
    </div>
</div>
<div style="height:100px" aria-hidden="true"></div>
<div class="block">
    <div class="row">
        <div class="col-sm-6 text-center" style="white-space: pre-line"><h1>SEE THE CONTENT.</h1>
            <a style="font-size: 20px;" href="https://www.youtube.com/mrpokkee">YouTube</a>
            <a style="font-size: 20px;" href="https://www.twitch.tv/mrpokke">Twitch</a>

            <h1>JOIN THE VILLAGE.</h1>
            <h5>Over 4,000 Members and counting.</h5><a style="font-size: 20px;" href="http://discord.gg/pokkesvillage">Our Community Discord</a>

            <h1>SUPPORT THE TEAM.</h1>
            <h5>If you enjoy the content and want access to special perks.</h5><a style="font-size: 20px;" href="https://ko-fi.com/mrpokke">Feel free to support us!</a>
        </div>
        <div class="col-sm-6">
            <img loading="lazy" src="/img/discordbanner.png" alt="discordbanner" style="height: auto; max-width: 100%;" />
        </div>
    </div>
</div>
