@{
    ViewData["Title"] = "Lightning";
    Layout = "~/Views/Shared/_HSRLayout.cshtml";
}

<div class="text-center">
    <h1 class="display-4">Lightning</h1>
</div>
<div class="row">

    <div class="col-sm-3">
        <div class="text-center">
            <a asp-area="" asp-controller="HSR" asp-action="Acheron"><img src="~/img/Acheron.webp" style="width:250px;height:250px;" /></a>
            <a style="color:#ead3a9; text-decoration:none" asp-area="" asp-controller="HSR" asp-action="Acheron"><h3><strong>ACHERON</strong></h3></a>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="text-center">
            <a asp-area="" asp-controller="HSR" asp-action="Kafka"><img src="~/img/Kafka.webp" style="width:250px;height:250px;" /></a>
            <a style="color:#ead3a9; text-decoration:none" asp-area="" asp-controller="HSR" asp-action="Kafka"><h3><strong>KAFKA</strong></h3></a>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="text-center">
            <a asp-area="" asp-controller="HSR" asp-action="Jingyuan"><img src="~/img/Jing_Yuan.webp" style="width:250px;height:250px;" /></a>
            <a style="color:#ead3a9; text-decoration:none" asp-area="" asp-controller="HSR" asp-action="Jingyuan"><h3><strong>JING YUAN</strong></h3></a>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="text-center">
            <a asp-area="" asp-controller="HSR" asp-action="Bailu"><img src="~/img/Bailu.webp" style="width:250px;height:250px;" /></a>
            <a style="color:#ead3a9; text-decoration:none" asp-area="" asp-controller="HSR" asp-action="Bailu"><h3><strong>Bailu</strong></h3></a>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="text-center">
            <a asp-area="" asp-controller="HSR" asp-action="Tingyun"><img src="~/img/Tingyun.webp" style="width:250px;height:250px;" /></a>
            <a style="color:#ead3a9; text-decoration:none" asp-area="" asp-controller="HSR" asp-action="Tingyun"><h3><strong>Tingyun</strong></h3></a>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="text-center">
            <a asp-area="" asp-controller="HSR" asp-action="Serval"><img src="~/img/Serval.webp" style="width:250px;height:250px;" /></a>
            <a style="color:#ead3a9; text-decoration:none" asp-area="" asp-controller="HSR" asp-action="Serval"><h3><strong>SERVAL</strong></h3></a>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="text-center">
            <a asp-area="" asp-controller="HSR" asp-action="Arlan"><img src="~/img/Arlan.webp" style="width:250px;height:250px;" /></a>
            <a style="color:#ead3a9; text-decoration:none" asp-area="" asp-controller="HSR" asp-action="Arlan"><h3><strong>ARLAN</strong></h3></a>
        </div>
    </div>

</div>