@{
    ViewData["Title"] = "Luka";
    Layout = "~/Views/Shared/_HSRLayout.cshtml";
}
<h1>Luka</h1>


<div class="row">
    <div class="col-sm-6">
        <h2>Overview</h2>
        <h3 style="white-space: pre-line">
            Luka is a 4 star physical Nihility unit from Jarilo-VI.
            Specializes dealing single target physical DOT damage.
        </h3>
    </div>
    <div class="col-sm-6">
        <div class="text-center">
            <iframe width="600" height="338"
                    src="https://www.youtube.com/embed/9hRfpDCx89M">
            </iframe>
        </div>
    </div>
</div>

<hr class="dashed">

<div class="row">
    <div class="col-sm-6">
        <h2>Relics</h2>
        <div class="row">
            <div class="col-sm-6">
                <img loading="lazy" src="~/img/Prisoner.webp" alt="Prisoner" width="100px" height="100px" />
                <img loading="lazy" src="~/img/Iron_Cavalry.webp" alt="Iron_Cavalry" width="100px" height="100px" />
            </div>
            <div class="col-sm-6">
                <h3 style="white-space: pre-line">
                    4pc Prisoner in Deep Confinement is the best in general for DOT.
                    4pc Iron Cavalry Against the Scourge if playing a break style Luka.
                </h3>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <h2>Planetary</h2>
        <div class="row">
            <div class="col-sm-6">
                <img loading="lazy" src="~/img/Glamoth.webp" alt="Glamoth" width="100px" height="100px" />
                <img loading="lazy" src="~/img/Banditry.webp" alt="Banditry" width="100px" height="100px" />
            </div>
            <div class="col-sm-6">
                <h3 style="white-space: pre-line">
                    Firmament Frontline: Glamoth is the best for DOT in general.
                    Choose Talia: Kingdom of Banditry if looking to play break Luka.
                </h3>
            </div>
        </div>
    </div>
</div>

<hr class="dashed">

<h2>Primary Stats</h2>
<table class="table-bordered" style="width: 100%; text-align: center">
    <tr>
        <td><h5>Body: Effect hit rate/Attack</h5></td>
        <td><h5>Boots: Speed</h5></td>
        <td><h5>Sphere: Physical damage/Attack</h5></td>
        <td><h5>Rope: Break effect/Attack</h5></td>
    </tr>
</table>
<h2>Substat Priority</h2>
<h5>Speed(breakpoint) and Effect hit rate (~67% total) then (Break effect if playing break Luka) then Attack</h5>

<hr class="dashed">
<h2>Lightcones</h2>
<table class="table-bordered" style="width: 100%">
    <tr>
        <td>
            <h5>Reforged Remembrance</h5>
            <img loading="lazy" src="~/img/Reforged_Remembrance.webp" alt="Reforged" width="100px" height="100px" />
        </td>
        <td>
            <h5 style="white-space: pre-line">
                A very nice 5 star option for Luka providing large amount of Effect hit rate, 
                attack buff based on different type of DOT in the team,
                and defense ignore.
            </h5>
        </td>
    </tr>
    <tr>
        <td>
            <h5>Good Night and Sleep Well</h5>
            <img loading="lazy" src="~/img/Good_Night.webp" alt="Good_Night" width="100px" height="100px" />
        </td>
        <td>
            <h5 style="white-space: pre-line">
                4 star option for DOT Luka that may out perform 5 star options at max refinement.
            </h5>
        </td>
    </tr>
    <tr>
        <td>
            <h5>Solitary Healing</h5>
            <img loading="lazy" src="~/img/Solitary_Healing.webp" alt="Solitary_Healing" width="100px" height="100px" />
        </td>
        <td>
            <h5 style="white-space: pre-line">
                Free 5 star option from Herta shop providing break effect, DOT damage buff, and energy regeneration.
            </h5>
        </td>
    </tr>
    <tr>
        <td>
            <h5>Resolution Shines As Pearls of Sweat</h5>
            <img loading="lazy" src="~/img/Resolution.webp" alt="Resolution" width="100px" height="100px" />
        </td>
        <td>
            <h5 style="white-space: pre-line">
                The staple 4 star option for subdps/support Nihility units providing valuable defense shred.
            </h5>
        </td>
    </tr>
</table>
