@{
    ViewData["Title"] = "Physical";
    Layout = "~/Views/Shared/_HSRLayout.cshtml";
}

<div class="text-center">
    <h1 class="display-4">Physical</h1>
</div>
<div class="row">

    <div class="col-sm-3">
        <div class="text-center">
            <a asp-area="" asp-controller="HSR" asp-action="Boothill"><img src="~/img/Boothill.webp" style="width:250px;height:250px;" /></a>
            <a style="color:#ead3a9; text-decoration:none" asp-area="" asp-controller="HSR" asp-action="Boothill"><h3><strong>BOOTHILL</strong></h3></a>
        </div>
    </div>

    <div class="col-sm-3">
        <div class="text-center">
            <a asp-area="" asp-controller="HSR" asp-action="Robin"><img src="~/img/Robin.webp" style="width:250px;height:250px;" /></a>
            <a style="color:#ead3a9; text-decoration:none" asp-area="" asp-controller="HSR" asp-action="Robin"><h3><strong>ROBIN</strong></h3></a>
        </div>
    </div>

    <div class="col-sm-3">
        <div class="text-center">
            <a asp-area="" asp-controller="HSR" asp-action="Argenti"><img src="~/img/Argenti.webp" style="width:250px;height:250px;" /></a>
            <a style="color:#ead3a9; text-decoration:none" asp-area="" asp-controller="HSR" asp-action="Argenti"><h3><strong>ARGENTI</strong></h3></a>
        </div>
    </div>

    <div class="col-sm-3">
        <div class="text-center">
            <a asp-area="" asp-controller="HSR" asp-action="Hanya"><img src="~/img/Hanya.webp" style="width:250px;height:250px;" /></a>
            <a style="color:#ead3a9; text-decoration:none" asp-area="" asp-controller="HSR" asp-action="Hanya"><h3><strong>HANYA</strong></h3></a>
        </div>
    </div>

    <div class="col-sm-3">
        <div class="text-center">
            <a asp-area=" " asp-controller="HSR" asp-action="Luka"><img src="~/img/Luka.webp" style="width:250px;height:250px;" /></a>
            <a style="color:#ead3a9; text-decoration:none" asp-area="" asp-controller="Luka" asp-action="Index"><h3><strong>LUKA</strong></h3></a>
        </div>
    </div>
    
    <div class="col-sm-3">
        <div class="text-center">
            <a asp-area="" asp-controller="HSR" asp-action="Sushang"><img src="~/img/Sushang.webp" style="width:250px;height:250px;" /></a>
            <a style="color:#ead3a9; text-decoration:none" asp-area="" asp-controller="HSR" asp-action="Sushang"><h3><strong>SUSHANG</strong></h3></a>
        </div>
    </div>

    <div class="col-sm-3">
        <div class="text-center">
            <a asp-area="" asp-controller="HSR" asp-action="Clara"><img src="~/img/Clara.webp" style="width:250px;height:250px;" /></a>
            <a style="color:#ead3a9; text-decoration:none" asp-area="" asp-controller="HSR" asp-action="Clara"><h3><strong>CLARA</strong></h3></a>
        </div>
    </div>

    <div class="col-sm-3">
        <div class="text-center">
            <a asp-area=" " asp-controller="HSR" asp-action="Natasha"><img src="~/img/Natasha.webp" style="width:250px;height:250px;" /></a>
            <a style="color:#ead3a9; text-decoration:none" asp-area="" asp-controller="HSR" asp-action="Natasha"><h3><strong>NATASHA</strong></h3></a>
        </div>
    </div>

    <div class="col-sm-3">
        <div class="text-center">
            <a asp-area="" asp-controller="HSR" asp-action="DestructionMC"><img src="~/img/DestructionMC.webp" style="width:250px;height:250px;" /></a>
            <a style="color:#ead3a9; text-decoration:none" asp-area="" asp-controller="HSR" asp-action="DestructionMC"><h3><strong>DESTRUCTION MC</strong></h3></a>
        </div>
    </div>
</div>