@{
    ViewData["Title"] = "Quantum";
    Layout = "~/Views/Shared/_HSRLayout.cshtml";
}

<div class="text-center">
    <h1 class="display-4">Quantum</h1>
</div>
<div class="row">

    <div class="col-sm-3">
        <div class="text-center">
            <a asp-area="" asp-controller="HSR" asp-action="Sparkle"><img src="~/img/Sparkle.webp" style="width:250px;height:250px;" /></a>
            <a style="color:#ead3a9; text-decoration:none" asp-area="" asp-controller="HSR" asp-action="Sparkle"><h3><strong>SPARKLE</strong></h3></a>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="text-center">
            <a asp-area="" asp-controller="HSR" asp-action="Xueyi"><img src="~/img/Xueyi.webp" style="width:250px;height:250px;" /></a>
            <a style="color:#ead3a9; text-decoration:none" asp-area="" asp-controller="HSR" asp-action="Xueyi"><h3><strong>XUEYI</strong></h3></a>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="text-center">
            <a asp-area="" asp-controller="HSR" asp-action="Fuxuan"><img src="~/img/Fu_Xuan.webp" style="width:250px;height:250px;" /></a>
            <a style="color:#ead3a9; text-decoration:none" asp-area="" asp-controller="HSR" asp-action="Fuxuan"><h3><strong>FU XUAN</strong></h3></a>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="text-center">
            <a asp-area="" asp-controller="HSR" asp-action="Lynx"><img src="~/img/Lynx.webp" style="width:250px;height:250px;" /></a>
            <a style="color:#ead3a9; text-decoration:none" asp-area="" asp-controller="HSR" asp-action="Lynx"><h3><strong>LYNX</strong></h3></a>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="text-center">
            <a asp-area="" asp-controller="HSR" asp-action="Silverwolf"><img src="~/img/Silverwolf.webp" style="width:250px;height:250px;" /></a>
            <a style="color:#ead3a9; text-decoration:none" asp-area="" asp-controller="HSR" asp-action="Silverwolf"><h3><strong>SILVER WOLF</strong></h3></a>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="text-center">
            <a asp-area="" asp-controller="HSR" asp-action="Qingque"><img src="~/img/Qingque.webp" style="width:250px;height:250px;" /></a>
            <a style="color:#ead3a9; text-decoration:none" asp-area="" asp-controller="HSR" asp-action="Qingque"><h3><strong>QINGQUE</strong></h3></a>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="text-center">
            <a asp-area="" asp-controller="HSR" asp-action="Seele"><img src="~/img/Seele.webp" style="width:250px;height:250px;" /></a>
            <a style="color:#ead3a9; text-decoration:none" asp-area="" asp-controller="HSR" asp-action="Seele"><h3><strong>SEELE</strong></h3></a>
        </div>
    </div>

</div>