@{
    ViewData["Title"] = "Robin";
    Layout = "~/Views/Shared/_HSRLayout.cshtml";
}
<h1>Robin</h1>


<div class="row">
    <div class="col-sm-6">
        <h2>Overview</h2>
        <h3 style="white-space: pre-line">
            Robin is a 5 star physical Harmony unit from Penacony.
            Specializes in team wide damage amplification as well as action advance for entire team.
            Work especially well with follow up attack teams.
        </h3>
    </div>
    <div class="col-sm-6">
        <div class="text-center">
            <iframe width="600" height="338"
                    src="https://www.youtube.com/embed/9Yg9N6PwiZw">
            </iframe>
        </div>
    </div>
</div>

<hr class="dashed">

<div class="row">
    <div class="col-sm-6">
        <h2>Relics</h2>
        <div class="row">
            <div class="col-sm-6">
                <img loading="lazy" src="~/img/Prisoner.webp" alt="Prisioner" width="100px" height="100px" />
                <img loading="lazy" src="~/img/Musketeer.webp" alt="Musketeer" width="100px" height="100px" />
            </div>
            <div class="col-sm-6">
                <h3 style="white-space: pre-line">
                    2pc mix of Musketeer of Wild Wheat and Prisoner in Deep Confinment is the best in general.
                    Robin's ultimate buffs the entire team based on her attack and the extra damage Robin deals also sclase with attack.
                    This combination of relics provides the most value as both relic's 2pc stat is attack.
                </h3>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <h2>Planetary</h2>
        <div class="row">
            <div class="col-sm-6">
                <img loading="lazy" src="~/img/Fleet.webp" alt="Fleet" width="100px" height="100px" />
                <div class="row"></div>
                <img loading="lazy" src="~/img/Vonwacq.webp" alt="Vonwacq" width="100px" height="100px" />
                <img loading="lazy" src="~/img/Penacony.webp" alt="Penacony" width="100px" height="100px" />
            </div>
            <div class="col-sm-6">
                <h3 style="white-space: pre-line">
                    Fleet of the Ageless is the best planetary set for Robin as it not only provides a teamwide attack increase, as well as provide some durability.
                    Due to Robin's scaling less defensive stats would be built on her.
                    Sprightly Vonwacq and Penacony, Land of Dreams may be used if there is an energy requirement, but not recommended.
                </h3>
            </div>
        </div>
    </div>
</div>

<hr class="dashed">

<h2>Primary Stats</h2>
<table class="table-bordered" style="width: 100%; text-align: center">
    <tr>
        <td><h5>Body: Attack</h5></td>
        <td><h5>Boots: Attack</h5></td>
        <td><h5>Sphere: Attack</h5></td>
        <td><h5>Rope: Energy regen</h5></td>
    </tr>
</table>
<h2>Substat Priority</h2>
<h5>(120 Speed for Fleet) and Attack then HP/DEF</h5>

<hr class="dashed">
<h2>Lightcones</h2>
<table class="table-bordered" style="width: 100%">
    <tr>
        <td>
            <h5>Flowing Nightglow</h5>
            <img loading="lazy" src="~/img/Flowing_Nightglow.webp" alt="Flowing_Nightglow" width="100px" height="100px" />
        </td>
        <td>
            <h5 style="white-space: pre-line">
                Robin's signature lightcone providing extra energy regeneration and further increase damage amplification.
            </h5>
        </td>
    </tr>
    <tr>
        <td>
            <h5>For Tomorrow's Journey</h5>
            <img loading="lazy" src="~/img/For_Tomorrow.webp" alt="For_Tomorrow" width="100px" height="100px" />
        </td>
        <td>
            <h5 style="white-space: pre-line">
                A lesser version of the signature lightcone minus the energy regeneration.
            </h5>
        </td>
    </tr>
    <tr>
        <td>
            <h5>But The Battle Isn't Over</h5>
            <img loading="lazy" src="~/img/But_the_Battle.webp" alt="But_the_Battle" width="100px" height="100px" />
        </td>
        <td>
            <h5 style="white-space: pre-line">
                A very comfortable option, 5 star stat stick, energy regeneration, skillpoint generation.
                Possible damage amplification if speed tuned.
            </h5>
        </td>
    </tr>
</table>
