@{
    ViewData["Title"] = "Sources";
    Layout = "~/Views/Shared/_HSRLayout.cshtml";
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
    a {
        text-decoration:none;
        color: white !important;
    }
</style>

<h1>Why this project was made:</h1>
<h4>
    This project is a recreation of Pokkelibrary.com which I was a part of the UX design. Unfortunately the website is no longer being updated. 
    I asked for permission to rebuild this site as a side project in ASP.NET as it was very restrictive in Wordpress without plugins.
</h4>

<div style="height:50px" aria-hidden="true"></div>
<h3>Thank you to all the sources I referenced while putting this project together</h3>

<h5>ASP.NET MVC: </h5>
<p><a href="https://www.youtube.com/&#64tutorialsEU">tutorialsEU <i class="fa fa-youtube-play" style="font-size:24px;color:red"></i></a></p>
<p><a href="https://www.youtube.com/&#64cottrellcoding3665">Cottrell Coding <i class="fa fa-youtube-play" style="font-size:24px;color:red"></i></a></p>

<h5>Azure hosting, CI/CD, and SQL database setup:</h5>
<p><a href="https://www.youtube.com/&#64visualstudio">Microsoft Visual Studio <i class="fa fa-youtube-play" style="font-size:24px;color:red"></i></a></p>
<p><a href="https://www.youtube.com/&#64jiejenn">Jie Jenn <i class="fa fa-youtube-play" style="font-size:24px;color:red"></i></a></p>

<h5>HTML and CSS:</h5>
<p><a href="https://www.w3schools.com/">W3schools <img src="~/img/W3Schools_logo.png" height="24px" /></a></p>
<p><a href="https://codepen.io/audeficheux/pen/JYzExR">Aude <img src="~/img/codepen.png" height="24px" /></a></p>
<p><a href="https://blog.logrocket.com/creating-custom-css-range-slider-javascript-upgrades/">Ibadehin Mojeed <img src="~/img/logrocket-logo.png" height="24px" /></a></p>

<h5>HSR content:</h5>
<p><a href="https://www.youtube.com/&#64mrpokkee">Mr.Pokke <i class="fa fa-youtube-play" style="font-size:24px;color:red"></i></a></p>
<p><a href="https://www.prydwen.gg/">Prydwen <img src="~/img/prydwen_logo_small.webp" height="24px" /></a></p>
<p><a href="https://honkai-star-rail.fandom.com/wiki/Honkai:_Star_Rail_Wiki"> Honkai: Star Rail Wiki <img src="~/img/HSR logo.webp" height="24px" /></a></p></p>