@{
    ViewData["Title"] = "Sushang";
    Layout = "~/Views/Shared/_HSRLayout.cshtml";
}
<h1>Sushang</h1>


<div class="row">
    <div class="col-sm-6">
        <h2>Overview</h2>
        <h3 style="white-space: pre-line">
            Sushang is a 4 star physical Hunt unit from The Xianzhou Luofu.
            Specializes dealing single target physical damage.
            Sushang can be played as a traditional Crit DPS or a Break DPS.
        </h3>
    </div>
    <div class="col-sm-6">
        <div class="text-center">
            <iframe width="600" height="338"
                    src="https://www.youtube.com/embed/emgDnOU9GzM">
            </iframe>
        </div>
    </div>
</div>

<hr class="dashed">

<div class="row">
    <div class="col-sm-6">
        <h2>Relics</h2>
        <div class="row">
            <div class="col-sm-6">
                <img loading="lazy" src="~/img/Champion.webp" alt="Champion" width="100px" height="100px" />
                <img loading="lazy" src="~/img/Iron_Cavalry.webp" alt="Iron_Cavalry" width="100px" height="100px" />
            </div>
            <div class="col-sm-6">
                <h3 style="white-space: pre-line">
                    Choose 4pc Champion of Streetwide Boxing for traditional Crit DPS.
                    Choose 4pc Iron Cavalry Against the Scourge for Break DPS.
                </h3>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <h2>Planetary</h2>
        <div class="row">
            <div class="col-sm-6">
                <img loading="lazy" src="~/img/Rutilant_Arena.webp" alt="Rutilant" width="100px" height="100px" />
                <img loading="lazy" src="~/img/Glamoth.webp" alt="Glamoth" width="100px" height="100px" />
                <img loading="lazy" src="~/img/Banditry.webp" alt="Banditry" width="100px" height="100px" />
                
            </div>
            <div class="col-sm-6">
                <h3 style="white-space: pre-line">
                    Rutilant Arena for Crit DPS.
                    Firmament Frontline: Glamoth is also an option on if able to hit the speed requirement.
                    Talia: Kingdom of Banditry for Break DPS.
                </h3>
            </div>
        </div>
    </div>
</div>

<hr class="dashed">

<h2>Primary Stats</h2>
<table class="table-bordered" style="width: 100%; text-align: center">
    <tr>
        <td><h5>Body: Crit rate/Crit damage/Attack(Break DPS)</h5></td>
        <td><h5>Boots: Speed/Attack</h5></td>
        <td><h5>Sphere: Physical damage/Attack</h5></td>
        <td><h5>Rope: Break effect/Attack</h5></td>
    </tr>
</table>
<h2>Substat Priority</h2>
<h5>(Speed for set bonus) then (Break effect if playing Break DPS) then Crit rate/Crit damage then Attack</h5>

<hr class="dashed">
<h2>Lightcones</h2>
<table class="table-bordered" style="width: 100%">
    <tr>
        <td>
            <h5>Swordplay</h5>
            <img loading="lazy" src="~/img/Swordplay.webp" alt="Swordplay" width="100px" height="100px" />
        </td>
        <td>
            <h5 style="white-space: pre-line">
                4 star option that may out perform 5 star options at max refinement and if conditions are met.
            </h5>
        </td>
    </tr>
    <tr>
        <td>
            <h5>Sailing Towards a Second Life</h5>
            <img loading="lazy" src="~/img/Second_Life.webp" alt="Second_Life" width="100px" height="100px" />
        </td>
        <td>
            <h5 style="white-space: pre-line">
                Best option for Break Sushang.
            </h5>
        </td>
    </tr>
    <tr>
        <td>
            <h5>In the Night</h5>
            <img loading="lazy" src="~/img/In_the_Night.webp" alt="In_the_Night" width="100px" height="100px" />
        </td>
        <td>
            <h5 style="white-space: pre-line">
                Consistant 5 star option works very well with Glamoth planetary set.
            </h5>
        </td>
    </tr>
    <tr>
        <td>
            <h5>Cruising in the Stellar Sea</h5>
            <img loading="lazy" src="~/img/Cruising.webp" alt="Cruising" width="100px" height="100px" />
        </td>
        <td>
            <h5 style="white-space: pre-line">
                Free 5 star option from Herta shop.
            </h5>
        </td>
    </tr>
</table>
