@{
    ViewData["Title"] = "Topaz & Numby";
    Layout = "~/Views/Shared/_HSRLayout.cshtml";
}
<h1>Topaz & Numby</h1>

<div class="row">
    <div class="col-sm-6">
        <h2>Overview</h2>
        <h3 style="white-space: pre-line">
            Topaz is a 5 star fire Hunt unit from Interastral Peace Corporation.
            Specializes in follow-up attack (dealing and buffing).
        </h3>
    </div>
    <div class="col-sm-6">
        <div class="text-center">
            <iframe width="600" height="338"
                    src="https://www.youtube.com/embed/ayBxkJczLIo">
            </iframe>
        </div>
    </div>
</div>

<hr class="dashed">

<div class="row">
    <div class="col-sm-6">
        <h2>Relics</h2>
        <div class="row">
            <div class="col-sm-6">
                <img loading="lazy" src="~/img/Pioneer.webp" alt="Pioneer" width="100px" height="100px" />
                <img loading="lazy" src="~/img/Grand_Duke.webp" alt="Grand_Duke" width="100px" height="100px" />
            </div>
            <div class="col-sm-6">
                <h3 style="white-space: pre-line">
                    4pc Pioneer Diver of Dead Waters has the best performance if 3 debuff can be maintained on the enemies.
                    4pc The Ashblazing Grand Duke works since the follow up attacks are technically triggered by Numby not Topaz.
                    Therefore the 4pc effect will work.
                </h3>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <h2>Planetary</h2>
        <div class="row">
            <div class="col-sm-6">
                <img loading="lazy" src="~/img/Running_Wolves.webp" alt="Running_Wolves" width="100px" height="100px" />
            </div>
            <div class="col-sm-6">
                <h3 style="white-space: pre-line">
                    Duran, Dynasty of Running Wolves the current best follow-up attack planetary set as of V2.3.
                    It is recommended to run more than 1 follow-up attack units in a follow-up attack teams as of current version.
                </h3>
            </div>
        </div>
    </div>
</div>

<hr class="dashed">

<h2>Primary Stats</h2>
<table class="table-bordered" style="width: 100%; text-align: center">
    <tr>
        <td><h5>Body: Crit rate/Crit damage</h5></td>
        <td><h5>Boots: Speed/Attack</h5></td>
        <td><h5>Sphere: Attack/Fire damage</h5></td>
        <td><h5>Rope: Attack</h5></td>
    </tr>
</table>
<h2>Substat Priority</h2>
<h5>Speed(breakpoint) then Crit rate and Crit damage then Attack</h5>

<hr class="dashed">
<h2>Lightcones</h2>
<table class="table-bordered" style="width: 100%">
    <tr>
        <td>
            <h5>Worrisome, Blissful</h5>
            <img loading="lazy" src="~/img/Worrisome.webp" alt="Worrisome" width="100px" height="100px" />
        </td>
        <td>
            <h5 style="white-space: pre-line">
                Signature lightcone, best in slot.
            </h5>
        </td>
    </tr>
    <tr>
        <td>
            <h5>Swordplay</h5>
            <img loading="lazy" src="~/img/Swordplay.webp" alt="Swordplay" width="100px" height="100px" />
        </td>
        <td>
            <h5 style="white-space: pre-line">
                4 star option that may out perform 5 star options at max refinement and if conditions are met.
            </h5>
        </td>
    </tr>
    <tr>
        <td>
            <h5>Cruising in the Stellar Sea</h5>
            <img loading="lazy" src="~/img/Cruising.webp" alt="Cruising" width="100px" height="100px" />
        </td>
        <td>
            <h5 style="white-space: pre-line">
                Free 5 star option from Herta shop.
            </h5>
        </td>
    </tr>
</table>
