@{
    ViewData["Title"] = "Wind";
    Layout = "~/Views/Shared/_HSRLayout.cshtml";
}

<div class="text-center">
    <h1 class="display-4">Wind</h1>
</div>
<div class="row">

    <div class="col-sm-3">
        <div class="text-center">
            <a asp-area="" asp-controller="HSR" asp-action="Blackswan"><img src="~/img/Blackswan.webp" style="width:250px;height:250px;" /></a>
            <a style="color:#ead3a9; text-decoration:none" asp-area="" asp-controller="HSR" asp-action="Blackswan"><h3><strong>BLACK SWAN</strong></h3></a>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="text-center">
            <a asp-area="" asp-controller="HSR" asp-action="Huohuo"><img src="~/img/Huohuo.webp" style="width:250px;height:250px;" /></a>
            <a style="color:#ead3a9; text-decoration:none" asp-area="" asp-controller="HSR" asp-action="Huohuo"><h3><strong>HUOHUO</strong></h3></a>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="text-center">
            <a asp-area="" asp-controller="HSR" asp-action="Blade"><img src="~/img/Blade.webp" style="width:250px;height:250px;" /></a>
            <a style="color:#ead3a9; text-decoration:none" asp-area="" asp-controller="HSR" asp-action="Blade"><h3><strong>BLADE</strong></h3></a>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="text-center">
            <a asp-area="" asp-controller="HSR" asp-action="Bronya"><img src="~/img/Bronya.webp" style="width:250px;height:250px;" /></a>
            <a style="color:#ead3a9; text-decoration:none" asp-area="" asp-controller="HSR" asp-action="Bronya"><h3><strong>BRONYA</strong></h3></a>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="text-center">
            <a asp-area="" asp-controller="HSR" asp-action="Sampo"><img src="~/img/Sampo.webp" style="width:250px;height:250px;" /></a>
            <a style="color:#ead3a9; text-decoration:none" asp-area="" asp-controller="HSR" asp-action="Sampo"><h3><strong>SAMPO</strong></h3></a>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="text-center">
            <a asp-area="" asp-controller="HSR" asp-action="Danheng"><img src="~/img/Danheng.webp" style="width:250px;height:250px;" /></a>
            <a style="color:#ead3a9; text-decoration:none" asp-area="" asp-controller="HSR" asp-action="Danheng"><h3><strong>DAN HENG</strong></h3></a>
        </div>
    </div>

</div>