@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-sm-6">
        <a class="nav-link" asp-area="" asp-controller="HSR" asp-action="Index"><img src="/img/HSR logo.webp" style="width: 480px; height: 270px" /></a>
    </div>
    <div class="col-sm-6">
        <a class="nav-link" asp-area="" asp-controller="WUWA" asp-action="Index"><img src="/img/WUWA logo.webp" style="width: 480px; height: 270px" /></a>
    </div>
</div>

